---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Toggle from "../components/Toggle.astro";
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
import Card from "../components/Card.astro";
import Reservation from "../components/Reservation.astro";
---

<Layout>
  <Header />
  <div class="billede">
    <img src="../img/skol.webp" alt="tegning af montvask" />
  </div>
  <h1>EVENTS</h1>
  <Form />
  <h2>DET SKER PÅ MØNTEN</h2>
  <div class="events">
    <div class="event">
      <Card title="QUIZ AFTEN" text="9" />
      <div>
        <p>
          MØNTEN QUIZ DEC, 2024 kl 19.00 <br />
          <a
            href="https://www.google.com/maps?q=Tagensvej+67+2200"
            target="_blank"
            rel="noopener"
          >
            Tagensvej 77, 2200 N
          </a>
        </p>
        <Reservation text="Læs mere" />
      </div>
    </div>
    <div class="event">
      <Card title="Drik& fold" text="13" />
      <div>
        <p>
          DRIK OG FOLD DIT TØJ DEC, 2024 kl 19.00 <br />
          <a
            href="https://www.google.com/maps?q=Tagensvej+67+2200"
            target="_blank"
            rel="noopener"
          >
            Tagensvej 77, 2200 N
          </a>
        </p>
        <Reservation text="Læs mere" />
      </div>
    </div>
    <div class="event">
      <Card title="STRIK &DRIK" text="17" />
      <div>
        <p>
          TAG DIT STRIKTØJ MED OG NYD ET KOLDT GLAS VIN DEC, 2024 kl 18.00 <br
          />
          <a
            href="https://www.google.com/maps?q=Tagensvej+67+2200"
            target="_blank"
            rel="noopener"
          >
            Tagensvej 77, 2200 N
          </a>
        </p>
        <Reservation text="Læs mere" />
      </div>
    </div>
    <div class="event">
      <Card title="QUIZ AFTEN" text="23" />
      <div>
        <p>
          MØNTEN QUIZ DEC, 2024 kl 19.00 <br />
          <a
            href="https://www.google.com/maps?q=Tagensvej+67+2200"
            target="_blank"
            rel="noopener"
          >
            Tagensvej 77, 2200 N
          </a>
        </p>
        <Reservation text="Læs mere" />
      </div>
    </div>
    <div class="event">
      <Card title="HALV PRIS" text="19" />
      <div>
        <p>
          HALV PRIS PÅ ALT DEC, 2024 kl 14.00 <br />
          <a
            href="https://www.google.com/maps?q=Tagensvej+67+2200"
            target="_blank"
            rel="noopener"
          >
            Tagensvej 77, 2200 N
          </a>
        </p>
        <Reservation text="Læs mere" />
      </div>
    </div>
    <div class="event">
      <Card title="JULE FEST" text="23" />
      <div>
        <p>
          JULEFEST PÅ MØNTEN, ALT OVERSKUD GÅR TIL HUS FORBI DEC, 2024 kl 17.00 <br
          />
          <a
            href="https://www.google.com/maps?q=Tagensvej+67+2200"
            target="_blank"
            rel="noopener"
          >
            Tagensvej 77, 2200 N
          </a>
        </p>
        <Reservation text="Læs mere" />
      </div>
    </div>
  </div>
  <Footer />
</Layout>

<style>
  img {
    max-width: 60%;
  }
  .billede {
    display: flex;
    justify-content: center;
  }

  .event {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: baseline;
  }

  h1 {
    place-self: center;
    color: rgba(255, 2, 10, 1);
  }
  p {
    color: #2f0002;
  }

  @media (min-width: 801px) {
    .events {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }
  }

  @media (max-width: 800px) {
    .event {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
      max-width: 700px;
    }
  }

  @media (min-width: 1200px) {
    .events {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1em;
    }
  }

  h2 {
    font-size: 30px;
    margin: 40px;
  }
</style>
