---
//@ts-nocheck
import { isRenderTemplateResult } from "astro/runtime/server/render/astro/render-template.js";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Toggle from "../components/Toggle.astro";
import Layout from "../layouts/Layout.astro";
import Card2 from "../components/Card2.astro";

const data = await fetch("https://xofpzkvhohxvithnbcek.supabase.co/rest/v1/monten",
 {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhvZnB6a3Zob2h4dml0aG5iY2VrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMzOTQwMzIsImV4cCI6MjA0ODk3MDAzMn0.06AltBJ-YpusPcHP7x0zhs7VQ0Ew5bGvDLgECKwJIHU",
    },
}
).then((res) => res.json());

console.log(data);
    //const id = await fetch(url, options).then((res) => res.json());
---
<Layout>
<Header/>
<Toggle/>
<div>
    <h1>CAFE MENU</h1>
    <h2>MORGENMAD (9-15:30)</h2>
        {data.map((item) => <Card2 data={item}/>)}

</div>
<Footer/>
</Layout>


