---
import "../pages/style.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Reservation from "../components/Reservation.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <div class="montvask">
    <img src="../img/montvask.webp" alt="montvask" />
  </div>
  <div class="overskrift">
    <h1>MØNTVASK</h1>
  </div>
  <h2>INFO</h2>
  <div class="monten">
    <div class="box">
      <p>
        Dit samlingspunkt for kaffe, vin og samvær <br />
        Mønten er en charmerende kaffe- og vinbar på Nørrebro. Vi serverer et udvalg
        af små retter, brunch og varme måltider, alt sammen med kærlighed til råvarernes
        oprindelse. Kom indenfor og mærk fællesskabet i vores hyggelige rammer
      </p>
    </div>
    <img class="image" src="../img/cafedame.webp" alt="barista kvinde" />
  </div>
  <div class="farvebane">
    <p class="kaffe">KAFFE & VASKETID</p>
    <p class="kaffe">49,-</p>
  </div>
  <h3>PRISLISTE</h3>
  <section>
    <div class="prisliste">
      <div class="col2">
        <p class="vask">VASKEMASKINE nr. 1-4: 50kr,-</p>
        <p class="info">Vaskemaskinen har plads til 7 kg</p>
        <p class="vask">VASKEMASKINE nr. 7-8: 55kr,-</p>
        <p class="info">Vaskemaskinen har plads til 8 kg</p>
        <p class="vask">VASKEMASKINE nr. 9-10: 73kr,-</p>
        <p class="info">Vaskemaskinen har plads til 11 kg</p>
      </div>
      <div class="col2">
        <p class="vask">VASKEMASKINE nr. 5: 105kr,-</p>
        <p class="info2">Vaskemaskinen har plads til 16-18 kg</p>
        <p class="vask">VASKEMASKINE nr. 11: 85kr,-</p>
        <p class="info2">Vaskemaskinen har plads til 13 kg</p>
        <p class="vask">TØRRETUMBLER: 2kr. Pr. Min.</p>
        <p class="info2">Vaskemaskinen har plads til 13 kg</p>
      </div>
    </div>
  </section>
  <div class="knap">
    <Reservation text="BOOK TID" />
  </div>
  <h3>FAQ</h3>
  <section>
    <div class="grid_1-1">
      <div class="dropdown">
        <button>spørgsmål +</button>
        <div class="content">
          <p class="spørgsmål">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
            dignissimos beatae nobis rem inventore sapiente, perferendis
            accusantium consequuntur tempore ea obcaecati modi mollitia
            assumenda at error. Veniam nulla minus soluta, vitae voluptatum,
            modi eos est ad sint iste repellendus accusamus?
          </p>
        </div>
      </div>
      <div class="dropdown">
        <button>spørgsmål +</button>
        <div class="content">
          <p class="spørgsmål">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
            dignissimos beatae nobis rem inventore sapiente, perferendis
            accusantium consequuntur tempore ea obcaecati modi mollitia
            assumenda at error. Veniam nulla minus soluta, vitae voluptatum,
            modi eos est ad sint iste repellendus accusamus?
          </p>
        </div>
      </div><div class="dropdown">
        <button>spørgsmål +</button>
        <div class="content">
          <p class="spørgsmål">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
            dignissimos beatae nobis rem inventore sapiente, perferendis
            accusantium consequuntur tempore ea obcaecati modi mollitia
            assumenda at error. Veniam nulla minus soluta, vitae voluptatum,
            modi eos est ad sint iste repellendus accusamus?
          </p>
        </div>
      </div><div class="dropdown">
        <button>spørgsmål +</button>
        <div class="content">
          <p class="spørgsmål">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
            dignissimos beatae nobis rem inventore sapiente, perferendis
            accusantium consequuntur tempore ea obcaecati modi mollitia
            assumenda at error. Veniam nulla minus soluta, vitae voluptatum,
            modi eos est ad sint iste repellendus accusamus?
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="footer">
    <Footer />
  </div>
</Layout>
<script src="./script.js"></script>

<style>
  /* img er billedet af den håndtegnede vaskemaskine */
  img {
    max-width: 50%;
  }

  /* montvask er den håndtegnede illustration */
  .montvask {
    display: flex;
    justify-content: center;
  }

  /* grid er brugt til info og med vaskemaskinerne */
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  /* .prisliste {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    padding: 20px;
  } */

  /* p er kun brugt i info boksen */
  p {
    max-width: 65ch;
    margin-top: 3%;
    color: #f8f6e9;
  }

  /* Den mørkebrune markering henover siden */
  .farvebane {
    background-color: #340000;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 4%;
  }

  /* teksten inde i den mørkebrune markering */
  .kaffe {
    color: #f8f6e9;
    place-self: center;
    /* margin-left: -20%; */
    display: block;
    max-width: 65ch;
    line-height: 2ch;
    font-size: 200%;
  }

  /* teksten til vaskemaskinen */
  .vask {
    font-size: 180%;
    /* place-self: center; */
    line-height: 2ch;
    margin-top: 10%;
    color: #340000;

    display: flex;
    /* justify-content: center; */
  }

  /* info er hvor meget vaskemaskinen kan indeholde */
  .info {
    color: #2f0002;

    display: flex;
    /* justify-content: center; */
  }

  /* info er hvor meget vaskemaskinen kan indeholde */
  .info2 {
    color: #2f0002;

    display: flex;
    /* justify-content: center; */
  }

  /* reservationsknappen  */
  .knap {
    place-self: center;
    margin-top: 10%;
  }

  /* farven på teksten til dropdown */
  .spørgsmål {
    color: #340000;
  }

  /* dropdown menuen */
  .dropdown {
    display: inline-block;
    place-self: center;
  }

  /* knappen der hedder spørgsmål */
  .dropdown button {
    background-color: #f8f6e9;
    color: #340000;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-size: 200%;
    text-decoration: underline;
  }

  /* indholdet af dropdown boksen */
  .dropdown .content {
    display: none;
    position: relative;
    background-color: #f8f6e9;
    min-width: 65ch;
    /* padding: 10%; */
  }

  /* h2 er info overskrift */
  h2 {
    /* padding-left: %; */
    font-family: rubik-doodle;
    font-size: 300%;
    margin-top: 10%;
    margin-bottom: 2%;
  }

  /* h3 er prisliste og FAQ overskrift*/
  h3 {
    font-size: 300%;
    padding-left: 8.5%;
    margin-top: 7%;
    margin-bottom: 3%;
  }

  /* overskriften møntvask */
  .overskrift {
    display: flex;
    justify-content: center;
    font-family: rubik-doodle;
    color: #ff020a;
    font-size: 250%;
  }

  /* Dette er vores style til mobil versionen */
  @media (max-width: 600px) {
    .monten {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    /* Denne grid går ind og gør det til 1 fraktion frem for 2 fraktion */
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1em;
    }

    h1 {
      font-size: 180%;
    }

    h2 {
      font-size: 240%;
      margin-bottom: 5%;
      /* padding-left: 7%; */
    }

    p {
      /* padding-left: 7%; */
      margin-bottom: 5%;
      font-size: 110%;
    }

    /* Den håndtegnede vaskemaskine */
    img {
      max-width: 80%;
    }

    .montmand {
      max-width: 100%;
      display: block;
      place-self: center;
      padding-right: 7%;
      margin-top: 7%;
      margin-bottom: 7%;
    }

    .kaffe {
      margin-left: -10%;
      font-size: 150%;
      line-height: 2ch;
      margin-top: 5%;
    }

    .vask {
      line-height: 5ch;
      place-self: center;
      font-size: 150%;
      margin-top: 5%;
      /* padding-left: 25%; */
      /* place-self: center; */
    }

    h3 {
      font-size: 250%;
      margin-bottom: 5%;
      padding-left: 7%;
      margin-top: 10%;
    }

    .knap {
      margin-bottom: 2%;
      padding-left: 2%;
      margin-top: 5%;
    }

    .dropdown button {
      font-size: 150%;
      line-height: 1ch;
      text-decoration: underline;
    }

    .dropdown .content {
      position: relative;
      display: none;
    }

    .info,
    .info2 {
    }

    /* .prisliste {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: baseline;
      padding: 20px;
    } */
  }

  .box {
    background-color: #2f0002;
    margin: 10px;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
  }

  .image {
    margin: 10px;
    max-width: 400px;
    border-radius: 10px;
  }

  /* @media (max-width: 800px) {
    .monten {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  } */
  @media (min-width: 601px) {
    .monten {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
    }

    .prisliste {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: baseline;
      padding: 20px;
    }
  }
</style>
