---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Toggle from "../components/Toggle.astro";
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <Header />
  <div class="billede">
    <img src="../img/montvaskbrun2.webp" alt="tegning af montvask" />
  </div>

  <h1>OM OS</h1>
  <h2>MØNTEN</h2>
  <div class="monten">
    <div class="box">
      <p>
        Dit samlingspunkt for kaffe, vin og samvær <br />
        Mønten er en charmerende kaffe- og vinbar på Nørrebro. Vi serverer et udvalg
        af små retter, brunch og varme måltider, alt sammen med kærlighed til råvarernes
        oprindelse. Kom indenfor og mærk fællesskabet i vores hyggelige rammer
      </p>
    </div>
    <img class="image" src="../img/cafedame.webp" alt="barista kvinde" />
  </div>
  <h2>FØLG OS PÅ INSTAGRAM</h2>

  <div class="gallery">
    <a href="https://www.instagram.com/monten2200/" target="_blank">
      <img src="../img/mad.webp" alt="billede af mad" /></a
    >
    <a href="https://www.instagram.com/monten2200/" target="_blank">
      <img src="../img/boger.webp" alt="billede af mad" /></a
    >
    <a href="https://www.instagram.com/monten2200/" target="_blank">
      <img src="../img/croissaints.webp" alt="billede af croissant" /></a
    >
    <a href="https://www.instagram.com/monten2200/" target="_blank">
      <img src="../img/cafemand.webp" alt="billede af medarbejder" /></a
    >
    <a href="https://www.instagram.com/monten2200/" target="_blank">
      <img src="../img/stemning.webp" alt="billede af stemning" /></a
    >
    <a href="https://www.instagram.com/monten2200/" target="_blank">
      <img src="../img/vines.webp" alt="billede af vine" /></a
    >
    <a href="https://www.instagram.com/monten2200/" target="_blank">
      <img src="../img/orange.webp" alt="billede af drinks" /></a
    >
    <a href="https://www.instagram.com/monten2200/" target="_blank">
      <img src="../img/drinks.webp" alt="billede af drinks" /></a
    >
    <a href="https://www.instagram.com/monten2200/" target="_blank">
      <img src="../img/vin.webp" alt="billede af drinks" /></a
    >
  </div>
  <Footer />
</Layout>

<style>
  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    place-self: center;
    color: red;
  }

  h2 {
    font-size: 30px;
    margin: 40px;
    display: flex;
    justify-content: center;
  }

  .billede {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 800px) {
    .monten {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (min-width: 801px) {
    .monten {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
    }
  }

  .box {
    background-color: #2f0002;
    margin: 10px;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
  }
  .image {
    margin: 10px;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }
  p {
    color: #f8f6e9;
  }

  .gallery {
    width: 100%;
    height: 300px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin: 10px;
  }

  .gallery img {
    height: 100%;
    display: inline-block;
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
