---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Toggle from "../components/Toggle.astro";
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <Header />
  <div class="billede">
    <img src="../img/montvaskbrun.png" alt="tegning af montvask" />
  </div>
  <h1>OM OS</h1>
  <h3>MØNTEN</h3>
  <div class="monten">
    <div class="box">
      <p>
        Dit samlingspunkt for kaffe, vin og samvær <br />
        Mønten er en charmerende kaffe- og vinbar på Nørrebro. Vi serverer et udvalg
        af små retter, brunch og varme måltider, alt sammen med kærlighed til råvarernes
        oprindelse. Kom indenfor og mærk fællesskabet i vores hyggelige rammer
      </p>
    </div>
    <img class="image" src="../img/cafedame.png" alt="barista kvinde" />
  </div>
  <div class="gallery">
    <img src="../img/mad.png" alt="billede af mad" />
    <img src="../img/boger.png" alt="billede af mad" />
    <img src="../img/cofee.png" alt="billede af mad" />
    <img src="../img/cafemand.png" alt="billede af mad" />
    <img src="../img/stemning.png" alt="billede af mad" />
    <img src="../img/vines.png" alt="billede af mad" />
    <img src="../img/orange.png" alt="billede af mad" />
    <img src="../img/drinks.png" alt="billede af mad" />
  </div>
  <Footer />
</Layout>

<style>
  img {
    max-width: 60%;
  }

  h1 {
    place-self: center;
    color: red;
  }

  h3 {
    font-size: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  .billede {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 800px) {
    .monten {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (min-width: 801px) {
    .monten {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
    }
  }

  .box {
    background-color: #2f0002;
    margin: 10px;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
  }
  .image {
    margin: 10px;
    max-width: 400px;
    border-radius: 10px;
  }
  p {
    color: #f8f6e9;
  }

  .gallery {
    width: 100%;
    height: 200px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin: 10px;
  }

  .gallery img {
    height: 100%;
    display: inline-block;
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
