:root {
  --primary-color: rgba(248, 246, 233, 1);
  --sec-color: rgba(255, 2, 10, 1);
  --third-color: rgb(219, 214, 214);
  --four-color: rgba(255, 2, 10, 1);
  --five-color: rgba(52, 0, 0, 1);
}

.dark-theme {
  --primary-color: rgba(52, 0, 0, 1);
  --sec-color: rgba(248, 246, 233, 1);
  --third-color: rgb(219, 214, 214);
  --four-color: rgba(52, 0, 0, 1);
  --five-color: rgb(219, 214, 214);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--primary-color);
  transition: all 0.3 ease-in-out;
}

p {
  font-family: Orator Std;
  line-height: 3ch;
  font-size: 16px;
}

@font-face {
  font-family: "rubik-doodle";
  src: url(RubikDoodleShadow-Regular.ttf);
}

h1,
h2,
h3,
h4 {
  font-family: rubik-doodle;
  font-weight: lighter;
}

h1 {
  font-size: 9vh;
  margin-bottom: 20px;
}

a {
  color: #2f0002;
  cursor: pointer;
}

/* .dropdown button {
  font-family: Orator Std;
} */
