---
const title = Astro.props.title;
---

<div class="card">
  <div class="date">
    <div class="day">09</div>
    <div class="month">Dec</div>
  </div>
  <div class="title"><h3>{title}</h3></div>
</div>

<style>
  .card {
    /* width: 300px; */
    height: 150px;
    background-color: #340000;
    border-radius: 10px;
    color: #f8f6e9;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Orator Std;
    margin: 3%;
  }
  .date {
    padding: 5px 0;
    border-style: solid;
    border-color: #ff0009;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
    height: 60px;
    z-index: 2;
  }

  .month {
    background-color: #f8f6e9;
    color: #340000;
    width: 60px;
    height: 35px;
    border-radius: 5px;
  }
  .title {
    padding: 10px;
    font-size: 50px;
    font-weight: bold;
  }

  h3 {
    font-size: 5vh;
  }
</style>
