---

---

<footer>
  <div>
    <p>Mønten</p>
    <p>
      <a
        href="https://www.google.com/maps?q=Tagensvej+67+2200"
        target="_blank"
        rel="noopener"
      >
        Tagensvej 77, 2200 N
      </a>
    </p>
  </div>
  <div>
    <p>Tlf: 26443181</p>
    <p>info@kaffemonten.dk</p>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
  }
</style>
