---

---

<div class="flex">
  <div class="dato">
    <button id="prev">&#8249;</button>
    <label for="inpt">Vælg dato</label>
    <input id="inpt" type="date" />
    <button id="next">&#8250;</button>
  </div>

  <div class="søg">
    <input id="søg" type="text" placeholder="Søg...           🔍" />
  </div>
</div>

<style>
  @media (min-width: 700px) {
    .flex {
      display: flex;
      align-items: center;
    }
  }

  .flex {
    margin-bottom: 15px;
  }
  input {
    font-family: Orator std;
    padding: 4px;
    background-color: #f8f6e9;
    color: #2f0002;
    font-size: 25px;
    border-style: solid;
    border-color: #2f0002;
  }

  .dato {
    display: flex;
    align-items: center;
    background-color: #2f0002;
    max-width: 280px;
    border-radius: 30px;
    overflow: hidden;
    margin: 10px;
  }

  .dato button {
    background-color: #2f0002;
    border: none;
    color: #f8f6e9;
    font-size: 18px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .søg button {
    background-color: #2f0002;
    border: none;
    color: #f8f6e9;
    font-size: 18px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #søg {
    border-radius: 30px;
    border-style: solid;
    border-color: #2f0002;
  }
</style>
