---
import Reservation from "./Reservation.astro";
import Burgermenu from "./Burgermenu.astro";
---

<header>
  <div class="header">
    <div class="logo">
      <a href="/">
        <img src="../img/logo.webp" alt="logo af mønten" id="logo" /></a
      >
    </div>
    <Reservation text="Reservation" />
    <Burgermenu />
  </div>
</header>

<style>
  .header {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    margin-bottom: 15px;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
    background-color: var(--primary-color);
  }

  .logo img {
    max-width: 80%;
  }
</style>
