---
import Reservation from "./Reservation.astro";
import Burgermenu from "./Burgermenu.astro";
---

<header>
  <div class="header">
    <div class="logo">
      <a href="/"> <img src="../img/logo.png" alt="logo" id="logo" /></a>
    </div>
    <Reservation text="Reservation" />
    <Burgermenu />
  </div>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    
  }

  header{
    position: sticky;
    top: 0; /* Sticks at the top */
    z-index: 1000;
    padding: 10px;
    background-color: var(primary-color);
  
  }

  .logo img {
    max-width: 80%;
  }
</style>
