---
const text = Astro.props.text;
---

<button
  ><a
    href="https://monten.resos.com/booking?_gl=1*wbf1j1*_gcl_aw*R0NMLjE3MzQwOTg5MzUuQ2owS0NRaUEwLS02QmhDQkFSSXNBRFlxeUwtZDluOG5ySzFQRU01THpNQm9kR2FsWGFjOWtUQTcyTTA5R19ITHJFT2VHbndvbXN0dG55WWFBdjd1RUFMd193Y0I.*_gcl_au*MTY2NDAzMDc3Ny4xNzM0MDk4OTQx*_ga*MTI0NzQwOTQ3NS4xNzM0MDk4OTM1*_ga_E9W0E77FLG*MTczNDA5ODkzMi4xLjEuMTczNDA5OTA5OC42MC4wLjkwMDQwMDY3MQ"
    target="_blank"><p>{text}</p></a
  ></button
>

<style>
  button {
    font-family: "Orator Std";
    font-size: 20px;
    color: #f8f6e9;
    background-color: #ff0009;
    border-radius: 20px;
    border: none;
    padding: 7px 25px;
  }
  a {
    color: #f8f6e9;
    text-decoration: none;
  }

  button:hover {
    background-color: #340000;
  }
</style>
