---
const text = Astro.props.text;
---

<button><a href="#"><p>{text}</p></a></button>

<style>
  button {
    font-family: "Orator Std";
    font-size: 18px;
    color: #f8f6e9;
    background-color: #ff0009;
    border-radius: 20px;
    border: none;
    padding: 7px 25px;
  }
  a {
    color: #f8f6e9;
    text-decoration: none;
  }

  button:hover {
    background-color: #340000;
  }
</style>
