
<div class="toggle-container">
    <span class="toggle-text left">cafe</span>
    <div class="toggle"></div>
    <span class="toggle-text right">bar</span>
</div>

<style>

.toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.toggle-text {
    font-size: 30px;
    font-family: orator std;
    color: var(--sec-color);
}


.toggle{
    position: relative;
    height: 45px;
    width: 140px;
    border-radius: 100px;
    color: var(--primary-color);
    cursor: pointer;
    border: 2px solid var(--sec-color);
}



.toggle::before{
    content: '';
    position: absolute;
    height: 36px;
    width: 36px;
    background-color:var(--four-color);
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: all 0.4s ease-in-out;
}

.toggle.active::before{
    background-color: var(--sec-color);
    left: calc(100% - 36px - 5px);
}

</style>

<script>
const toggle = document.querySelector(".toggle");
var forsidepic = document.getElementById("forsidepic");
var logo = document.getElementById("logo");

//javascript skifter mellem dark og light mode

toggle.onclick = function() {
    document.body.classList.toggle("dark-theme");

    if(document.body.classList.contains("dark-theme")) {
        forsidepic.src = "img/montvaskbeige.webp";
        document.querySelector(".light").style.display="none"
        document.querySelector(".dark").style.display="block"
        
    }else{
        forsidepic.src = "img/montvaskbrun.webp";
        document.querySelector(".dark").style.display="none"
        document.querySelector(".light").style.display="block"
    }

    
    //SKIFT LOGO UD AFHÆNGIGT AF TEMA
    if(document.body.classList.contains("dark-theme")){
        logo.src = "img/montenlogo_ny.webp"; 
    } else {
        logo.src = "img/logo.webp";
    }
    
};


toggle!.addEventListener("click", () => toggle!.classList.toggle("active"));





</script>